
* {
    margin: 0;
    padding: 0;
    border: 0;
}

header{
    background-color: #fc4a1a;
    color: white;
}

main {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

article {
    background-color:#4abdac;
    padding-bottom: 3em;
}

form {
    margin: 0 auto;
    width: 30%;
}

legend {
    color: white;
    font-weight: bold;
    font-size: 20px;
    padding: 0.5em;
    margin-bottom: 0;
}

form>section {
    display: flex;
    flex-direction: column;
    padding: 0.75em;
    border-top: 0;
}

label {
    padding: 0.75em;
    padding-left: 0;
    font-weight: bold;
    font-size: 14px;
}

.menu_tmp {
    text-align: center;
    padding: 1em;
    margin-bottom: 1em;
}

table {
    margin: 0 auto;
    border-collapse: collapse;
    text-align: center;
}

caption {
    color: white;
    padding: 1em;
    font-weight: bold;
    font-size: 18px;
}

th {
    padding: 0.5em;
}

td img{
    width: 30%;
}

td {
    width: calc(100% / 3);
}

.nav-item {
    background-color:#fc4a1a;
    transition-duration: 300ms;
    color: white;
}

.nav-item:hover {
    background-color:#cf3e17;
    transition-duration: 300ms;
}

.menu {
    background-color:#f7b733;
}

.menu section {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.menu img {
    width: 5em;
}

.menu p{
    margin-bottom: 0;
}


.bg-verde {
    background-color: #4abdac;
}